
{% extends 'base.html' %}

{% block title %} Apartments {% endblock %}

{% block sidebar %}
<aside class="vertical-menu">
    <a href="{% url 'add_apartment' %}">Add Apartment</a>
    <a href="{% url 'index' %}">Back to start</a>
    <a href="#">Profile</a>
    <a href="#">Settings</a>
    <a href="#">Logout</a>
</aside>
{% endblock %}

{% block content %}
<h2> Apartments list </h2>

<ul>
    {% for item in object_list %}
      <li>
          <a href="{% url 'apartment_update' item.pk %}">{{ item }}</a>
      </li>
    {% endfor %}
</ul>
{% endblock %}
