
{% extends 'base.html' %}

    {% block title %} Update apartment  {% endblock %}

    {% block sidebar %}
    <aside class="vertical-menu">
        <a href="{% url 'meters_by_apartment' apartment.id %}">Meters here</a>
        <a href="{% url 'add_meter_to_apartment' apartment.id %}">Add Meter</a>
        <a href="{% url 'apartments_by_house' apartment.address.id %}">Back to apartments</a>
        <a href="{% url 'index' %}">Back to start</a>
        <a href="#">Profile</a>
        <a href="#">Settings</a>
        <a href="#">Logout</a>
    </aside>
    {% endblock %}

    {% block content %}
    <h2>Update apartment info in {{ house.address }}</h2>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save information</button>
    </form>
      {% if err %}
        <div id="error" style="border: blue 2px solid; background-color: #E62600; color:white; display: inline-block">{{err|safe}}</div>
      {% endif %}

    {% endblock %}
