{% extends 'base.html' %}

{% block title %} Update consumer {% endblock %}

{% block sidebar %}
<aside class="vertical-menu">
    <a href="{% url 'add_consumer' %}">Add new consumer</a>
    <a href="{% url 'consumers' %}">Back</a>
    <a href="{% url 'index' %}">Back to start</a>
    <a href="#">Profile</a>
    <a href="#">Settings</a>
    <a href="#">Logout</a>
</aside>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Update Consumer Information</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button type="submit" class="btn btn-primary">Save Information</button>
            </form>
            {% if err %}
                <div class="alert alert-danger mt-3">{{err|safe}}</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
