{% extends 'base.html' %}

{% block title %} Apartment - meters {% endblock %}

{% block sidebar %}
<aside class="vertical-menu">
    <a href="{% url 'apartment_update' house.id apartment.id %}">Back to apartment</a>
    <a href="{% url 'add_meter_to_apartment' house.id apartment.id %}">Add Meter here</a>
    <a href="{% url 'apartments_by_house' house.id %}">Back to house apartments</a>
    <a href="{% url 'index' %}">Back to Start</a>
</aside>
{% endblock %}

{% block content %}
<h2>Meter's list in {{ apartment }}</h2>
<ul>
    {% for item in apartment_meters %}
      <li>
          <a href="{% url 'meter_detail' house.id item.pk %}">{{ item }}</a>
      </li>
    {% empty %}
            <li>No meters found in this apartment.</li>
    {% endfor %}
</ul>
<a href="{% url 'add_meter_to_apartment' house.id apartment.id %}" class="btn btn-primary">Add meter here</a>
{% endblock %}