{% extends 'base.html' %}

{% block title %} Meter - details {% endblock %}

{% block sidebar %}
<aside class="vertical-menu">
    <a href="{% url 'add_meter_reading' meter_id=meter.id house_id=house.id %}">Add new meter reading</a>
    <a href="{% url 'meters_by_apartment' apartment.id house.id %}">Back to Apartment Meters</a>
    <a href="{% url 'meters_by_house' house.id %}">Back to House Meters</a>
    <a href="{% url 'house_detail' house.id %}">Back to House</a>
    <a href="{% url 'index' %}">Back to Start</a>
</aside>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2>Meter Details - {{ house.address }}</h2>
            <div>
                <a href="{% url 'meters_by_apartment' house.id apartment.id %}" class="btn btn-secondary">Back to Meters</a>
                <a href="{{ edit_url }}" class="btn btn-primary">Edit</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="table-light">Manufacturer:</th>
                            <td>{{ meter.manufacturer }}</td>
                        </tr>
                        <tr>
                            <th class="table-light">Series:</th>
                            <td>{{ meter.series }}</td>
                        </tr>
                        <tr>
                            <th class="table-light">Number:</th>
                            <td>{{ meter.number }}</td>
                        </tr>
                        <tr>
                            <th class="table-light">Type:</th>
                            <td>{{ meter.type }}</td>
                        </tr>
                        <tr>
                            <th class="table-light">Verification Date:</th>
                            <td>{{ meter.verification_date }}</td>
                        </tr>
                        <tr>
                            <th class="table-light">Apartment:</th>
                            <td>{{ meter.apartment_number.apartment_nr }}</td>
                        </tr>
                        <tr>
                            <th class="table-light">House:</th>
                            <td>{{ meter.apartment_number.address.address }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card mt-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">Meter Readings</h3>
                    <a href="{% url 'add_meter_reading' house_id=house.id  meter_id=meter.id %}" class="btn btn-success">Add Reading</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th>Date</th>
                                    <th>Reading Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reading in meter.meterreading_set.all %}
                                <tr>
                                    <td>{{ reading.reading_date }}</td>
                                    <td>{{ reading.reading_value }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="2" class="text-center">No readings available</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 