{% extends 'base.html' %}

{% block title %} Meter added {% endblock %}

{% block sidebar %}
<aside class="vertical-menu">
    {% if apartment.id %}
        <a href="{% url 'add_meter_to_apartment' house.id apartment.id %}">Add another meter</a>
        <a href="{% url 'meters_by_apartment' apartment.id %}">Back to meters</a>
        <a href="{% url 'apartments_by_house' apartment.address.id %}">Back to apartments</a>
    {% else %}
        <a href="{% url 'index'  %}">Back to home</a>
    {% endif %}
</aside>
{% endblock %}


{% block content %}

<h1>Success!</h1>
<p>Meter has been saved</p>

{% endblock %}

