{% extends 'base.html' %}

{% block title %} Service added {% endblock %}

{% block sidebar %}
<aside class="vertical-menu">
    {% if house.id %}
        <a href="{% url 'add_service_here' house.id %}">Add another service</a>
        <a href="{% url 'services_by_house' house.id %}">Back to services</a>
    {% else %}
        <a href="{% url 'add_service' %}">Add service</a>
        <a href="{% url 'services' %}">Back to services</a>
    {% endif %}
</aside>
{% endblock %}


{% block content %}

<h1>Success!</h1>
<p>Service has been saved</p>

{% endblock %}

