home/db.sqlite3
home/db.sqlite3-journal
home/bills/migrations
*.pyc
__pycache__/
__pycache__
.__pycache__
.__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.env
db.sqlite3
media/
home/bills/__pycache__/forms.cpython-312.pyc
home/bills/__pycache__/urls.cpython-312.pyc
home/bills/__pycache__/validations.cpython-312.pyc
home/bills/__pycache__/views.cpython-312.pyc
