home/db.sqlite3
home/db.sqlite3-journal
home/bills/migrations
home/__pycache__
home/bills/__pycache__
home/home/__pycache__

*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.env
db.sqlite3
media/