


{% extends 'base.html' %}

{% block title %} Add provider {% endblock %}

{% block sidebar %}
<aside class="vertical-menu">
    <a href="{% url 'providers' %}">Back to providers</a>
    <a href="#">Profile</a>
    <a href="#">Settings</a>
    <a href="#">Logout</a>
</aside>
{% endblock %}

{% block content %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add Provider</button>
</form>
  {% if err %}
    <div id="error" style="border: blue 2px solid; background-color: #E62600; color:white; display: inline-block">{{err|safe}}</div>
  {% endif %}

{% endblock %}

